body{
  min-height: 100vh;
  background:linear-gradient(to bottom right, #ebf8ff, #d1fae5);
}
nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#issues {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 2fr));
  gap: 20px;
  padding: 20px;
}

.issue-box {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  transition: transform 0.3s ease;
}

.issue-box:hover {
  transform: translateY(-5px);
}

.issue-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.issue-box h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333;
}

.issue-box p {
  color: #666;
  font-size: 14px;
}
h1{
  font-size: 40px;
  color:green;
  margin:0px;
}
/* button{
  background-color: green;
  color:white;
  font-size: 20px;
  border:none;
  width: 80px;
  height: 50px;
  padding: 3px;
  font: bold;
  border-radius: 3px;

} */
 button {
  background-color: green;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: darkgreen;
}

.login{
  text-align: center;
  align-items: center;
  justify-content: center;
}